
*.v2
*.v1
/BehaviouralPatterns/ChainOfResponsibility/.vs
/BehaviouralPatterns/ChainOfResponsibility/obj
/BehaviouralPatterns/StateDesignPattern/.vs
/BehaviouralPatterns/StateDesignPattern/obj
*.pdb
/BehaviouralPatterns/StateDesignPattern/bin
/BehaviouralPatterns/TemplatePattern/.vs
/BehaviouralPatterns/TemplatePattern/bin
/BehaviouralPatterns/TemplatePattern/obj
/BehaviouralPatterns/StrategyPattern/.vs
/BehaviouralPatterns/StrategyPattern/bin
/BehaviouralPatterns/StrategyPattern/obj
/CreationalPatterns/AbstractFactoryPatterns/.vs
/CreationalPatterns/AbstractFactoryPatterns/CourseDetails/obj
/BehaviouralPatterns/InterpreterPattern/.vs
/BehaviouralPatterns/InterpreterPattern/bin
/BehaviouralPatterns/InterpreterPattern/obj
/BehaviouralPatterns/MediatorPattern/.vs
/BehaviouralPatterns/MediatorPattern/bin
/BehaviouralPatterns/MediatorPattern/obj
/BehaviouralPatterns/CommandPattern/.vs
/BehaviouralPatterns/CommandPattern/bin
/BehaviouralPatterns/CommandPattern/obj
/BehaviouralPatterns/MementoPattern/.vs
/BehaviouralPatterns/MementoPattern/bin
/BehaviouralPatterns/MementoPattern/obj
/BehaviouralPatterns/VisitorPattern/.vs
/BehaviouralPatterns/VisitorPattern/bin
/BehaviouralPatterns/VisitorPattern/obj
/CreationalPatterns/BuilderPattern/.vs
*.json
/CreationalPatterns/BuilderPattern/obj
/CreationalPatterns/CreationalPatternsPractise/AbstractFactoryPattern/bin
/CreationalPatterns/CreationalPatternsPractise/AbstractFactoryPattern/obj
/CreationalPatterns/CreationalPatternsPractise/BuilderPattern/bin
/CreationalPatterns/CreationalPatternsPractise/BuilderPattern/obj
/CreationalPatterns/CreationalPatternsPractise/BuilderPatternPizza/bin
/CreationalPatterns/CreationalPatternsPractise/BuilderPatternPizza/obj
/CreationalPatterns/CreationalPatternsPractise/FactoryPattern/bin
/CreationalPatterns/CreationalPatternsPractise/FactoryPattern/obj
/CreationalPatterns/CreationalPatternsPractise/PrototypePattern/bin
/CreationalPatterns/CreationalPatternsPractise/PrototypePattern/obj
/CreationalPatterns/CreationalPatternsPractise/SingletonPattern/bin
/CreationalPatterns/CreationalPatternsPractise/SingletonPattern/obj
