
*.v2
*.v1
/BehaviouralPatterns/ChainOfResponsibility/.vs
/BehaviouralPatterns/ChainOfResponsibility/obj
/BehaviouralPatterns/StateDesignPattern/.vs
/BehaviouralPatterns/StateDesignPattern/obj
*.pdb
/BehaviouralPatterns/StateDesignPattern/bin
/BehaviouralPatterns/TemplatePattern/.vs
/BehaviouralPatterns/TemplatePattern/bin
/BehaviouralPatterns/TemplatePattern/obj
/BehaviouralPatterns/StrategyPattern/.vs
/BehaviouralPatterns/StrategyPattern/bin
/BehaviouralPatterns/StrategyPattern/obj
/CreationalPatterns/AbstractFactoryPatterns/.vs
/CreationalPatterns/AbstractFactoryPatterns/CourseDetails/obj
/BehaviouralPatterns/InterpreterPattern/.vs
/BehaviouralPatterns/InterpreterPattern/bin
/BehaviouralPatterns/InterpreterPattern/obj
